* {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
}

body{
    margin: 0;
    background-color: cadetblue;
}

h1{
    font-family: Montserrat;
    text-align: center;
    font-size: 30px;
    color: white;
    padding: 40px;
}

h2{
    font-family: Montserrat;
    text-align: center;
    font-size: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}


p{
    font-family: Roboto;
    padding: 15px 30px;
    font-size: 18px;
}


article{
    display: grid;
    align-items: center;
    background-color: white;
    padding: 30px;
    box-shadow: 3px 3px 10px #000;
    border-radius: 30px;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10%, 20%));
    grid-gap: 60px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

img {
    width: 100%;
    overflow: hidden;
}

.video{
    width: 100%;
    text-align: center;
    opacity: 0.5;
}




/*****loader from https://codepen.io/PButcher/pen/mVYpZb******/


.drip{
    width: 200px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    position: absolute;
    left: 42%;
    top: 50%;
}

.drip:before{
    position: absolute;
    left:92.5px;
    top:0;
    content: '';
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    opacity: 0;
    animation: drip 4s ease infinite;
}

.drip:after {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 0px;
    height: 0px;
    border: solid 4px white;
    border-radius: 50%;
    opacity: 0;
    animation: splash 4s ease infinite;
}

@keyframes drip {
    10% {
        top: 0;
        opacity: 1;
        animation-timing-function: cubic-bezier(0.24, 0, 0.76, 0.14);
    }
    25% {
        opacity: 1;
        top: 200px;
        animation-timing-function: ease-out;
        width: 15px;
        height: 15px;
        left: 92.5px;
    }
    30% {
        opacity: 1;
        top: 160px;
        width: 5px;
        height: 5px;
        animation-timing-function: ease-in;
        left: 97.5px;
    }
    33% {
        top: 200px;
        opacity: 0;
        animation-timing-function: ease-out;
        left: 97.5px;
    }
    33.001% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes splash {
    0% {
        opacity: 0;
    }
    25% {
        bottom: 50px;
        left: 100px;
        opacity: 0;
        width: 0px;
        height: 0px;
    }
    25.001% {
        opacity: 1;
    }
    33% {
        bottom: 0;
        left: 0;
        opacity: 0;
        width: 200px;
        height: 100px;
    }
    33.001% {
        bottom: 50px;
        left: 100px;
        opacity: 1;
        width: 0px;
        height: 0px;
    }
    43% {
        bottom: 0;
        left: 0;
        opacity: 0;
        width: 200px;
        height: 100px;
    }
    43.001% {
        opacity: 0;
    }
}

.hide{
    display: none;
}