* {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
}

body{
    margin: 0;
    background-image: url("../images/bj5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 30px;
    color: white;
    padding: 40px;
}

h2{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}


p{
    font-family: 'Roboto', sans-serif;
    padding: 5px 30px;
    font-size: 16px;
}

#categories-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#categories-nav a{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    color: cadetblue;
    border: solid 2px cadetblue;
    padding: 5px;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.3);
}

a:hover{
    opacity: 0.5;
}

article a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    color: cadetblue;
    border: solid 2px cadetblue;
    width: 70%;
    justify-self: center;
    margin: 20px 0px;

}


article{
    display: grid;
    align-items: center;
    background-color: white;
    padding: 10px;
    box-shadow: 3px 3px 10px #000;
    border-radius: 10px;
    min-width: 150px;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15%, 25%));
    grid-gap: 30px;
    justify-content: center;
    padding: 70px;
}

img {
    width: 100%;
    overflow: hidden;
}

.detail-a{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    color: cadetblue;
    border: solid 2px cadetblue;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    display: grid;
    justify-content: center;
}

.main-detail{
    display:grid;
    grid-template-columns: 1fr;
}

.article-detail{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, auto);
    grid-gap: 20px;
    padding: 30px;
}

.article-detail .h2-detail{
    grid-column: 1/3;
    grid-row: 1/2;
}
.img-detail{
    grid-column: 1/2;
    grid-row: 2/8;
}

.body p{
    padding: 0;
}

.article-detail .p-detail{
    background-color: rgba(95, 158, 160, 0.5);
    border-radius: 10px;
}
.video{
    grid-column: 1/3;
    grid-row: 8/9;
    background-color: rgba(95, 158, 160, 0.5);
    width: 100%;
    text-align: center;
    opacity: 0.5;
    padding: 20px;
}





/*****loader from https://codepen.io/PButcher/pen/mVYpZb******/


.drip{
    width: 200px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    position: absolute;
    left: 42%;
    top: 50%;
}

.drip:before{
    position: absolute;
    left:92.5px;
    top:0;
    content: '';
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    opacity: 0;
    animation: drip 4s ease infinite;
}

.drip:after {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 0px;
    height: 0px;
    border: solid 4px white;
    border-radius: 50%;
    opacity: 0;
    animation: splash 4s ease infinite;
}

@keyframes drip {
    10% {
        top: 0;
        opacity: 1;
        animation-timing-function: cubic-bezier(0.24, 0, 0.76, 0.14);
    }
    25% {
        opacity: 1;
        top: 200px;
        animation-timing-function: ease-out;
        width: 15px;
        height: 15px;
        left: 92.5px;
    }
    30% {
        opacity: 1;
        top: 160px;
        width: 5px;
        height: 5px;
        animation-timing-function: ease-in;
        left: 97.5px;
    }
    33% {
        top: 200px;
        opacity: 0;
        animation-timing-function: ease-out;
        left: 97.5px;
    }
    33.001% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes splash {
    0% {
        opacity: 0;
    }
    25% {
        bottom: 50px;
        left: 100px;
        opacity: 0;
        width: 0px;
        height: 0px;
    }
    25.001% {
        opacity: 1;
    }
    33% {
        bottom: 0;
        left: 0;
        opacity: 0;
        width: 200px;
        height: 100px;
    }
    33.001% {
        bottom: 50px;
        left: 100px;
        opacity: 1;
        width: 0px;
        height: 0px;
    }
    43% {
        bottom: 0;
        left: 0;
        opacity: 0;
        width: 200px;
        height: 100px;
    }
    43.001% {
        opacity: 0;
    }
}

.hide{
    display: none;
}

@media  {
    
}